
#top-panel {
    width: 100%;
    height: 30px;
    border-bottom: 3px solid black;
}
#links{
    margin-top: 10px;
    margin-left: 140px;
}
.links{

    text-decoration: underline;
}
.left{
    width: 500px;
    margin-top: 20px;
    margin-left: 150px;
}
.heig{
    margin-top: 30px;
}
.options{
    height: 200px;
}
.buttons{
    margin-top: 30px;
}
.mytab{
    width: 800px;
    margin-right: 100px;
    margin-left: 140px;
}
.addbutton{
    margin-top: 10px;
    margin-bottom: 10px;
}
.block{
    width: 400px;
    padding-bottom: 30px;
    margin-left: 100px;
}
.form{
    margin-top: 50px;
}
.singletext{
    width: 300px;
}

#input{
    padding-top: 30px
}
#add {
    margin-bottom: 10px;
}
#sbtbtn{
    margin-left: 160px;
}
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 4px;
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
    font: 12px Arial, italic;
}
#logout{
    margin-left: 50px;
}
.tx{
    width: 250px;
}
.txr{
    width: 250px;
}
.rig{
    float: right;
}
.opti{
    display: flex;
    margin: 0 0 3px 0;
    width: 600px;
}
.error{
    font-weight: bold;
    margin-left: 140px;
    margin-top: 5px;
    color:red;
}
.thank{
    text-align: center;
    margin-top: 30%;
    font-family: 'Monotype Corsiva', cursive;
    font-size: 50px;
}
