@(fields: List[models.Field])


@if(fields.isEmpty != true) {
    <body><div class="form">
        <form id="response" method="POST" action="/sendresponse">
            @for(field <- fields) {
                @if(field.getType == Type.SINGLE_LINE_TEXT) {
                    @blocks.singllineblock.render(field)
                }
                @if(field.getType == Type.CHECK_BOX) {
                    @blocks.checkboxblock.render(field)
                }
                @if(field.getType == Type.COMBO_BOX) {
                    @blocks.comboboxblock.render(field)
                }
                @if(field.getType == Type.RADIO_BUTTON) {
                    @blocks.radiobutton.render(field)
                }
                @if(field.getType == Type.DATE) {
                    @blocks.dateblock.render(field)
                }
                @if(field.getType == Type.SLIDER) {
                    @blocks.sliderblock.render(field)
                }
                @if(field.getType == Type.TEXTAREA) {
                    @blocks.multilinetext.render(field)
                }
            }

            <div id="sbtbtn"><button class="btn btn-success" type="submit"><cpan class="glyphicon glyphicon-send"></cpan> Send</button>
                <button id='cancel' class="btn btn-danger" type="reset" ><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button></div>
        </form></div>
        } else {
    <div class="block"><h1 class="thank">No fields yet</h1></div>
}


</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/crfield.css")">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="@routes.Assets.versioned("javascripts/response.js")"></script>

